
/* Global Domain Bar */
/* ========================================================================== */

#global_domain_bar {
    background: #fff;
    height: 10px;
}
#global_domain_bar .maxwidth {
    position: relative;
}

/* Tab */

#global_domain_bar .tab {
    background: #fff;
    position: absolute;
    right: 0;
    float: right;
    padding: 6px 8px;
    font-size: 12px;
    line-height: 16px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 4px 2px -2px #8fb3d9;
    -webkit-box-shadow: 0 4px 2px -2px #8fb3d9;
    box-shadow: 0 4px 2px -2px #8fb3d9;
    white-space: nowrap;
}
#global_domain_bar .tab a.root {
    color: #555753 !important;
    font-weight: bold;
    text-decoration: none;
    background: #fff url(img/gnome-favicon.png) 0 0 no-repeat;
    padding-left: 18px;
    border-right: 1px solid #ccc;
    padding-right: 6px;
    margin-right: 3px;
}
#global_domain_bar .tab a.root:last-child {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
}
#global_domain_bar .tab a.root:hover {
    text-decoration: underline;
}

