@viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

/*--------------Body and structure---------------------*/

@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('fonts/Chunkfive-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #333;
}

p {
    font-size: 16px;
    padding: 5px 0;
    text-align: justify;
}

strong {
    font-weight: bold;
}

a {
    outline: 0;
}

a, .logo:hover {
    text-decoration: none;
    color: #347a87;
}

.logo:hover {
    color: white;
}

a:hover {
    text-decoration: underline;
    color: #347a87;
    background-color: none;
}

h1 {
    font-weight: normal;
}

h2 {
    color: #347a87;
    font-weight: bold;
    font-size: 1.5em;
    padding: 30px 0 10px 0;
}

h3 {
    color: #222;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

/*--------------Sections----------------------*/

.main {
    margin: 0 auto;
    display: block;
}

.section {
    border-top: #babdb6 solid 4px;
    margin-top: 20px;
}

.fixed-container {
    width: 100%;
    position: fixed;
    right: 0px;
}

#home {
    padding-top: 80px;
}

/*----------------Navigation------------------*/

.nav-container {
    background-color: #20b2aa;
    width: 100%;
}

.nav {
    margin: 0 auto;
    padding: 22px 10px 10px 0px;
    color: white;
}

.nav li {
    display: inline-block;
    padding: 0 15px;
    line-height: 0px
}

.nav a {
    color: white;
}

.navbar .container {
    width: auto;
    max-width: 960px;
}

.navbar .navbar-static-top,
.navbar .navbar-inner,
.navbar .container {
    background-color: #d1d8cd;
    background-image: none;
}

.navbar .nav > li > a {
    color: black;
    text-shadow: 0 0 0;
}

.navbar .nav > li > a:hover {
    text-decoration: underline;
    color: white;
    background-color: #59cfe6;
}

.navbar .nav > li > a {
    border-radius: 5px;
}

.navbar .btn-navbar {
    color: #20b2aa;
    background-color: white;
    background-image: none;
    border-color: white;
    margin-top: 25px;
}

.navbar .btn-navbar .icon-bar {
    background-color: #20b2aa;
}
.navbar .btn-navbar:hover, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] {
    color: #20b2aa;
    background-color: white;
}

.navbar .btn-navbar:hover .icon-bar, .navbar .btn-navbar:active .icon-bar, .navbar .btn-navbar.active .icon-bar, .navbar .btn-navbar.disabled .icon-bar, .navbar .btn-navbar[disabled]  .icon-bar {
    background-color: #20b2aa;
}

.navbar .brand {
    color: white;
    padding-left: 0;
    font-family: 'ChunkFiveRegular';
    font-size: 1.5em;
    text-shadow: 0 0 0;
    display: inline-block;
    padding: 19px 30px 15px 30px;
}

.visibility-note {
    font-size: 90%;
    color: #888;
}

.contract-text {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    font-size: 80%;
    border: 1px solid #aaa;
    height: 300px;
    overflow: scroll;
}

.contract-text p {
    font-size: 100%;
    line-height: 110%;
    margin: 0px;
}
.contract-text h2 {
    font-size: 120%;
    margin: 0px;
    padding: 5px 0px 0px 0px;
}

.contract-input {
    width: 100%;
    height: 300px;
    font-family: monospace;
}

.contract-actions {
    padding: 5px;
}

/*-----------------Links and images-----------------*/

.learn-more {
    float: right;
    color: #347a87;
    padding-top: 20px;
}

.link-wiki {
    font-size: 14px;
    padding-top: 10px;
}

.view-participants {
    cursor: pointer;
}

.top-intro {
    background: white url("img/girl.png") no-repeat bottom;
    padding: 60px 0;
    margin: 0;
}

.top-intro p {
    font-size: 20px;
    line-height: 1.5em;
    margin: 0;
}

.intro-img {
    float: right;
}

.organizations li {
    list-style: none;
}

.org-name {
    font-weight: bold;
    padding-top: 10px;
}

#sponsors img {
    padding-top: 30px;
}

/*-------------Footer-----------------------*/

.footer {
    padding: 30px 0px 0px 0px;
    margin: 0 auto;
}

.footer ul{
    margin: 0 auto;
}

.footer-links {
    padding: 20px 10px 10px 20px;
    color: #333;
    max-width: 960px;
}

.footer-art {
    background: url("img/footer-balloons.png") no-repeat bottom right;
    height: 160px;
}

.footer-grass {
    background: url("img/footer-grass.png");
    height: 39px;
}

.footer-wrapper {
    background-color: #d1d8cd;
    min-height: 12em;
}

.cc-description {
    font-size: 11px;
}

/*------------------Laptops&larger screens---------------------------*/

@media (min-width: 979px) {
    .footer-art {
        background: url("img/footer-balloons.png") no-repeat bottom;
    }
}

/*------------------Tablets--------------------------*/

@media (max-width: 767px) {

    .footer{
        margin-left: -20px;
        margin-right: -20px;
    }

    .nav {
        padding: 20px 10px 10px 0px;
    }

    .nav-collapse .nav {
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: -20px;
    }

    .nav li {
        padding: 20px 10px;
        display: block;
        width: 100%;
        border-top: 1px solid #fff;
    }
}

/*-------------------small tablet---------------------------*/

@media (min-width: 479px) and (max-width: 767px) {
    .span6, .span4, .span9 {
        width: 45%;
        margin: 10px;
        display: inline-block;
    }
}

/*----------------SmartPhones----------------------*/

/*------------Navigation-------------------*/

@media (max-width: 479px) {

    .navbar .brand {
        padding: 20px;
        width: 200px;
    }

    .navbar .btn-navbar {
        margin-top: 25px;
        margin-right: 10px;
    }

    .nav-collapse .nav {
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: -20px;
    }

    .nav li {
        padding: 20px 10px;
        display: block;
        width: 100%;
        border-top: 1px solid #fff;
    }

    .span6, .span4, .span9 {
        width: auto;
        margin: 20px auto;
        display: block;
    }
}

/*----------------------Smallphones------------------------*/

@media (max-width: 290px) {

    #home {
        padding-top: 140px;
    }
}
