<!-- We add these JS files here as we don't need them everywhere -->
<script src="[[skin_path]]/js/processing.js"></script>
<script src="[[skin_path]]/js/tween.js"></script>

<div class="hero-unit align-center">
    <div class="row-fluid">
        <div class="span5">
            <canvas id="donut" datasrc="?q=timeline&amp;prg=[[program_id]]" width="400" height="400"></canvas>

            <div id="slice-label" class="align-center">
                {{program_timeline}}
            </div>
        </div>

        <div class="span7">
            <h2 class="program-title">
                [[program_title]]
            </h2>

            <h4 class="description top-spacer">
                [[program_description]]
            </h4>

            <h4>
                <i class="icon-calendar"></i>
                [[program_start_date]] {{to}} [[program_end_date]]
            </h4>


            <div id="block-deadlines" class="alert alert-project">
                <table>
                    <tr>
                        <td rowspan="2">
                            <img src="[[skin_path]]/images/deadline.png" alt="" width="24" height="24" class="time-icon" />
                        </td>

                        <td>
                            [[student_deadlines]]
                        </td>
                    </tr>

                    <tr>
                        <td>
                            [[mentor_deadlines]]
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <hr class="hr-hero" />

    <div class="[[guest_visibility]]">
        <a href="?q=login&amp;r=[[return_url]]" class="btn btn-large">
            <img src="[[skin_path]]/images/login.png" width="26" height="26" alt="" />
            {{login_to_participate}}
        </a>
    </div>

    <div class="program-actions [[user_visibility]]">
        <div class="[[prg_rejected_visibility]]">
            <h4 class="rejected-notice">
                <i class="icon-user"></i>
                [[role_message]]
            </h4>
        </div>

        <div class="[[prg_resign_visibility]]">
            <h4 class="resign-notice">
                <i class="icon-user"></i>
                [[role_message]]
            </h4>
        </div>

        <div class="[[prg_guest_visibility]]">
            <a href="#" onclick="submitForm(event, '?q=view_projects&amp;prg=[[program_id]]&amp;a=apply&amp;c=student')"
               class="btn btn-large [[apply_student_visibility]]">
                <img src="[[skin_path]]/images/submit-project.png" width="26" height="26" alt="" />
                {{apply_student}}
            </a>

            <a href="#" onclick="submitForm(event, '?q=view_projects&amp;prg=[[program_id]]&amp;a=apply&amp;c=mentor')"
               class="btn btn-large [[apply_mentor_visibility]]">
                <img src="[[skin_path]]/images/mentor-project.png" width="26" height="26" alt="" />
                [[apply_mentor_message]]
            </a>
        </div>

        <div class="[[prg_student_visibility]]">
            <h4>
                <i class="icon-user"></i>
                [[role_message]]
            </h4>

            <a href="?q=view_projects&amp;a=editor&amp;prg=[[program_id]]" class="btn btn-large [[dl_student_visibility]]">
                <img src="[[skin_path]]/images/submit-project.png" width="26" height="26" alt="" />
                {{submit_proposal}}
            </a>

            <a href="?q=view_projects&amp;prg=[[program_id]]&amp;a=user" class="btn btn-large">
                <img src="[[skin_path]]/images/projects.png" width="26" height="26" alt="" />
                {{view_submissions}}
            </a>

            <div class="alert alert-info [[late_submission_visibility]]">
              {{late_submission_notice}}
            </div>
            <div class="resign-block [[resign_visibility]]">
                <a href="?q=view_projects&amp;prg=[[program_id]]&amp;a=resign" class="btn btn-danger btn-mini">
                    {{resign_program}}
                </a>
            </div>
        </div>

        <div class="[[prg_interm_visibility]]">
            <h4>
                <i class="icon-user"></i>
                [[role_message]]
            </h4>

            <div class="resign-block [[resign_visibility]]">
                <a href="?q=view_projects&amp;prg=[[program_id]]&amp;a=resign" class="btn btn-danger btn-mini">
                    {{resign_program}}
                </a>
            </div>
        </div>

        <div class="[[prg_mentor_visibility]]">
            <h4>
                <i class="icon-user"></i>
                [[role_message]]
            </h4>

            <div>
                <a href="?q=manage_projects&amp;prg=[[program_id]]" class="btn btn-large [[dl_mentor_visibility]]">
                <img src="[[skin_path]]/images/mentor-project.png" width="26" height="26" alt="" />
                    {{manage_projects}}
                </a>
            </div>

            <div>
                <a href="?q=view_projects&amp;prg=[[program_id]]&amp;a=user" class="btn btn-large">
                    <img src="[[skin_path]]/images/projects.png" width="26" height="26" alt="" />
                    {{view_my_projects}}
                    </a>
            </div>

            <div class="resign-block [[resign_visibility]]">
                <a href="?q=view_projects&amp;prg=[[program_id]]&amp;a=resign" class="btn btn-danger btn-mini">
                    {{resign_program}}
                </a>
            </div>
        </div>
    </div>

    <a href="https://www.outreachy.org/alums/" class="btn btn-large [[started_visibility]]">
      <img src="[[skin_path]]/images/projects.png" width="26" height="26" alt="" />
      {{view_accepted}}
    </a>
</div>
