<tr>
    <td>
        [[organization_title]]
    </td>

    <td>
        [[late_submission]]
    </td>

    <td class="align-center">
        <a href="?q=manage_organizations&amp;a=editor&amp;prg=[[program_id]]&amp;o=[[organization_id]]">
            <i class="icon-pencil"></i>
        </a>
    </td>
</tr>
