<div class="pull-right"m>
    <a href="?q=manage_organizations&amp;a=editor&amp;prg=[[program_id]]" class="btn btn-primary">
        <i class="icon-plus-sign icon-white"></i>
        {{add_organization}}
    </a>
</div>

<h1>{{manage_organizations}}</h1>
<hr class="hr-head" />

<div class="alert alert-info [[notice_visibility]]">
    {{no_organizations}}
</div>

<div class="[[list_visibility]]">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{organization_title}}</th>
                <th>{{late_submissions}}</th>
                <th style="width:20px">{{edit}}</th>
            </tr>
        </thead>

        <tbody>
            [[organizations_list]]
        </tbody>
    </table>

    <div class="pages align-center [[pages_visibility]]">
        [[list_pages]]
    </div>
</div>
