<tr>
    <th colspan="3">
        [[program_title]] ([[role]]<span class="[[approved_visibility]]">, {{contract_approved}}</span><span class="[[accepted_visibility]]">, {{contract_accepted}}: [[contract_accepted_time]] {{by}} [[contract_entered_name]]</span><span class="[[not_accepted_visibility]]">, {{contract_not_accepted}}</span>)
    </th>
</tr>
