<tr>
    <td>
        <a href="[[view_url]]">[[name]]</a>
    </td>
    <td>
        [[description]]
    </td>
    <td class="[[delete_visibility]]">
        <a href="[[delete_url]]" title="{{delete_attachment}}">
            <i class="icon-remove"></i>
        </a>
    </td>
</tr>

