<div class="alert [[review_visibility]]">
  <div  class="[[program_student_visibility]]">
    {{review_contract_notice_student}}
  </div>
  <div  class="[[program_mentor_visibility]]">
    {{review_contract_notice_mentor}}
  </div>
</div>
<div class="alert [[view_visibility]]">
  {{view_contract_notice}} [[contract_accepted_time]]<span class="[[from_visibility]]">{{contract_from_notice}} [[contract_accepted_from]]</span>. {{view_contract_notice_name}}: [[contract_entered_name]]
</div>
<div id="contractText" class="contract-text" onscroll="checkSensitive()">[[contract_html]]</div>
<div class="[[review_visibility]]">
{{type_your_name}}: <input id="contractName" name="contract_name" oninput="checkSensitive()"><br />
<button disabled id="acceptContractButton" type="submit" name="accept_contract" class="btn btn-primary">
    {{accept_contract}}
</button>
<script type="text/javascript">
var scrolledToBottom = false;
function checkSensitive() {
   var scrollDiv = document.getElementById("contractText");
   var nameInput = document.getElementById("contractName");
   if (scrollDiv.scrollTop >= scrollDiv.scrollHeight - scrollDiv.clientHeight - 5)
       scrolledToBottom = true;

   console.log(!scrolledToBottom || /^\s*$/.test(nameInput.value));

   document.getElementById("acceptContractButton").disabled = !scrolledToBottom || /^\s*$/.test(nameInput.value);
}
checkSensitive();
</script>
</div>
