<h1>[[title]]</h1>
<hr class="hr-head" />

<div class="alert alert-info [[notice_visibility]]">
    {{no_participants}}
</div>

<div class="[[list_visibility]]">
    <table class="table table-striped table-filtered">
        <thead>
            <tr>
                <th>
                    {{username}}
                </th>

                <th>
                    {{role}}
                </th>

                <th>
                    {{contract_approved}}
                </th>

                <th>
                    {{projects}}
                </th>
            </tr>
        </thead>

        <tbody>
            [[participant_list]]
        </tbody>
    </table>
    <a href="[[archive_url]]">{{contract_archive}}</a>
</div>
