<tr>
  <td style="width:165px">
    [[identity_provider]]
  </td>
  <td style="width:140px">{{full_name}}</td>
  <td>
    [[identity_full_name]]
  </td>
</tr>
<tr>
  <td></td>
  <td>{{email}}</td>
  <td>
    [[identity_email]] [[identity_email_verified]]
  </td>
</tr>
<tr>
  <td></td>
  <td>{{profile_url}}</td>
  <td>
    <a href="[[identity_profile_url]]">[[identity_profile_url]]</a> {{verified}}
  </td>
</tr>
