<h1>{{approve_mentors}}</h1>
<hr class="hr-head" />

<div class="alert alert-info [[notice_visibility]]">
    {{no_pending_mentors}}
</div>

<div class="[[list_visibility]]">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    {{mentor_name}}
                </th>
                
                <th style="width:200px;"></th>
                <th style="width:200px;"></th>
            </tr>
        </thead>

        <tbody>
            [[mentors_list]]
        </tbody>
    </table>
</div>
