<tr>
    <td>
        <a href="[[project_url]]">
            [[project_title]]
        </a>[[badges]]
    </td>

    <td>
        [[organization]]
    </td>

    <td>
        [[opinion]]
    </td>
</tr>
