<h1>{{log_in}}</h1>
<hr class="hr-head" />

<div class="alert alert-error [[error_visibility]]">
    <a class="close" data-dismiss="alert">×</a>
    [[error_message]]
</div>

<h4 class="[[openid_visibility]]">{{login_with_openid}}</h4>
<br />

<div class="control-group [[openid_visibility]]">
    <label class="control-label">{{openid}}</label>
    <div class="controls">
        <input type="text" name="username" class="input-xlarge" />
    </div>
</div>

<!--
<div class="control-group">
    <label class="control-label">{{password}}</label>
    <div class="controls">
        <input type="password" name="password" class="input-xlarge" />
    </div>
</div>
-->

<div class="form-actions [[openid_visibility]]">
    <button type="submit" name="login_openid" class="btn btn-primary">{{log_in}}</button>
</div>

<h4 class="[[google_visibility]]">{{login_with_google}}</h4>
<br />

<div class="form-actions [[google_visibility]]">
    <button type="submit" name="login_google" class="btn btn-primary">{{log_in}}</button>
</div>

<h4 class="[[facebook_visibility]]">{{login_with_facebook}}</h4>
<br />

<div class="form-actions [[facebook_visibility]]">
    <button type="submit" name="login_facebook" class="btn btn-primary">{{log_in}}</button>
</div>

<!--
<div class="alert alert-info">
    <h3>{{create_account}}</h3>
    <p>{{create_account_exp}}</p>
</div>
-->

