<h1>{{apply_mentor}}</h1>
<hr class="hr-head" />

<form method="post" action="[[submit_url]]">
  [[organization_select]]
  <button type="submit" name="apply" class="btn btn-primary">{{apply}}</button>
  <a href="[[cancel_url]]" class="btn">{{cancel}}</a>
</form>

