<tr>
    <th colspan="3">
        <div class="[[review_contract_visibility]]">
          <a href="[[contract_url]]">{{review_contract}}</a>
        </div>
        <div class="[[view_contract_visibility]]">
          <a href="[[contract_url]]">{{view_contract}}</a>
        </div>
    </th>
</tr>
