<h1>[[editor_title]]</h1>
<hr class="hr-head" />

<div class="alert alert-error [[error_visibility]]">
    <a class="close" data-dismiss="alert">×</a>
    [[error_message]]
</div>

<div class="alert alert-info">
    {{form_notice}}
</div>

<div class="control-group">
    <label class="control-label">{{program_title}} *</label>
    <div class="controls">
        <input type="text" name="title" maxlength="100" class="input-xxlarge" value="[[title]]"  />
    </div>
</div>

<div class="control-group">
    <label class="control-label">{{description}} &nbsp;</label>
    <div class="controls">
        <textarea name="description" rows="4" class="input-xxlarge">[[description]]</textarea>
    </div>
</div>

<div class="control-group">
    <label class="control-label">{{application_prefill}} &nbsp;</label>
    <div class="controls">
        <textarea name="application_prefill" rows="8" class="input-xxlarge">[[application_prefill]]</textarea>
    </div>
</div>

<div class="control-group">
    <label class="control-label">{{start_date}} *</label>
    <div class="controls">
        <input type="text" name="start_date" class="input-medium datepicker" value="[[start_date]]"  />
    </div>
</div>

<div class="control-group">
    <label class="control-label">{{dl_student}} *</label>
    <div class="controls">
        <input type="text" name="dl_student" class="input-medium datepicker" value="[[dl_student]]"  />
    </div>
</div>

<div class="control-group">
    <label class="control-label">{{dl_mentor}} *</label>
    <div class="controls">
        <input type="text" name="dl_mentor" class="input-medium datepicker" value="[[dl_mentor]]"  />
    </div>
</div>

<div class="control-group">
    <label class="control-label">{{end_date}} *</label>
    <div class="controls">
        <input type="text" name="end_date" class="input-medium datepicker" value="[[end_date]]"  />
    </div>
</div>

<div class="control-group">
    <label class="control-label">{{active}} &nbsp;</label>
    <div class="controls">
        <input type="checkbox" name="active" [[active_checked]] />
    </div>
</div>

<div class="control-group">
    <label class="control-label">{{mentor_contract}}</label>
    <div class="controls">
        <a href="[[mentor_contract_edit]]" target="edit_contract">{{edit_contract}}</a><br />
        <a href="[[mentor_contract_sample]]" target="sample_contract">{{sample_contract_link}}</a>
    </div>
</div>

<div class="control-group">
    <label class="control-label">{{student_contract}}</label>
    <div class="controls">
        <a href="[[student_contract_edit]]" target="edit_contract">{{edit_contract}}</a><br />
        <a href="[[student_contract_sample]]" target="sample_contract">{{sample_contract_link}}</a>
    </div>
</div>

<div class="control-group">
    <label class="control-label">{{enable_contracts}} &nbsp;</label>
    <div class="controls">
        <input type="checkbox" name="contracts_active" [[contracts_active_checked]] />
    </div>
</div>

<div class="control-group">
  <button type="submit" name="reject_undecided" class="btn">
    {{reject_undecided}}
  </button>
</div>

<div class="form-actions">
    <button type="submit" name="program_save" class="btn btn-primary">
        <i class="icon-ok-sign icon-white"></i>
        {{save}}
    </button>

    <a href="?q=manage_programs" class="btn">
        <i class="icon-remove icon-black"></i>
        {{cancel}}
    </a>

    <a href="[[delete_url]]" class="btn btn-danger delete-button [[delete_visibility]]">
        <i class="icon-trash icon-white"></i>
        {{delete}}
    </a>
</div>
