<a href="?q=program_home&amp;prg=[[program_id]]" class="no-decor pull-right top-spacer">
    <i class="icon-arrow-left"></i>
    {{project_home}}
</a>

<h1>{{view_project}}</h1>
<hr class="hr-head" />

<div class="alert alert-success [[success_visibility]]">
    <a class="close" data-dismiss="alert">×</a>
    [[success_message]]
</div>

<div class="alert alert-error [[subscribe_visibility]]">
    <a class="close" data-dismiss="alert">×</a>
    {{subscribe_mentor}}
</div>

<div class="alert alert-error [[is_withdrawn_visibility]]">
    {{withdrawn_notice}}
</div>

<div class="project-data">
    <div class="row">
        <div class="span2">{{project_title}}</div>
        <div class="span8">[[project_title]]</div>
    </div>

    <div class="row">
        <div class="span2">{{organization}}</div>
        <div class="span8">[[project_organization]]</div>
    </div>

    <div class="row">
        <div class="span2">{{project_description}}</div>
        <div class="span8">[[project_description]]</div>
    </div>

    <div class="row">
        <div class="span2">{{student}}</div>
        <div class="span8">[[project_student]]</div>
    </div>

    <div class="row [[mentor_visibility]]">
        <div class="span2">[[mentor_label]]</div>
        <div class="span8">[[project_mentor]]</div>
    </div>

    <div class="row">
        <div class="span2">{{project_accepted}}</div>
        <div class="span8">[[project_accepted]]</div>
    </div>

    <h4 class="[[attachments_visibility]]">{{attachments}}</h4>

    <table class="table">
      [[attachments_list]]
    </table>

    <div class="form-actions [[actions_visibility]]">
        <a href="?q=view_projects&amp;a=editor&amp;prg=[[program_id]]&amp;p=[[project_id]]&amp;r=view"
           class="btn btn-primary [[edit_visibility]]">
            <i class="icon-pencil icon-white"></i>
            {{edit}}
        </a>

        <button type="submit" name="mentor_apply" class="btn [[mentor_project_visibility]]">
            <i class="icon-briefcase icon-black"></i>
            {{mentor_project}}
        </button>

        <button type="submit" name="mentor_apply" class="btn [[mentor_project_additional_visibility]]">
            <i class="icon-briefcase icon-black"></i>
            {{mentor_project_additional}}
        </button>

        <button type="submit" name="mentor_remove" class="btn [[mentor_remove_visibility]]">
            <i class="icon-briefcase icon-black"></i>
            {{mentor_remove}}
        </button>

        <a href="?q=view_projects&amp;a=delete&amp;prg=[[program_id]]&amp;p=[[project_id]]"
           class="btn btn-danger delete-button [[delete_visibility]]">
            <i class="icon-trash icon-white"></i>
            {{delete}}
        </a>

        <a href="?q=view_projects&amp;a=withdraw&amp;prg=[[program_id]]&amp;p=[[project_id]]"
           class="btn btn-danger [[withdraw_visibility]]">
            {{withdraw}}
        </a>

        <a href="#" onclick="submitForm(event, '?q=view_projects&amp;a=resubmit&amp;prg=[[program_id]]&amp;p=[[project_id]]')"
           class="btn [[resubmit_visibility]]">
            {{resubmit}}
        </a>

        <a href="?q=attachment&amp;a=add&amp;prg=[[program_id]]&amp;p=[[project_id]]"
           class="btn [[attach_visibility]]">
            {{add_attachment}}
        </a>
    </div>
</div>
