<!DOCTYPE html>

<!--
- opw-web v1
- @license GPLv3 - //www.opensource.org/licenses/GPL-3.0
- @copyright (c) 2013 GNOME Foundation. All rights reserved.
- @copyright (c) 2012 KDE. All rights reserved.
-
- Instructions:
- * Use [[template_var]] for a template variable
ocalization variable
-
- !!IMPORTANT!! Retain all template variables when theming
-->

<html dir="[[html_direction]]" lang="{{lang_name}}">
<head>
    <meta charset="utf-8" />
    <title>[[page_title]]</title>
<!--    <title>{{site_title}}</title> -->
    <meta name="description" content="[[site_desc]]" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="[[skin_path]]/css/img/outreachy-favicon.png"  />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="[[skin_path]]/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="[[skin_path]]/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="[[skin_path]]/css/gnome.css" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="[[skin_path]]/css/main.css" />
</head>

<body class="EasternGreen">

    <!--DISABLED
    <div id="global_domain_bar">
        <div class="maxwidth">
            <div class="tab">
                <a class="root" href="http://www.gnome.org/">GNOME.org</a>
            </div>
        </div>
    </div>
    -->

    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="brand" href="[[nav_home]]">
                    <img src="[[skin_path]]/css/img/outreachy-logo.png" width="218" height="44" class="icon" alt="" />
                </a>

                <div class="nav-collapse">
                    <ul class="nav pull-right">
                      <!--
                        <li>
                            <a href="?q=view_programs&amp;r=accepted">
                                <i class="icon-search"></i>
                                {{accepted_projects}}
                            </a>
                        </li>
                        -->

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle [[user_visibility]]" data-toggle="dropdown">
                                <i class="icon-wrench"></i>
                                {{actions}}
                                <b class="caret"></b>
                            </a>

                            <ul class="dropdown-menu">
                                <li>
                                    <a href="?q=program_home&amp;prg=[[program_id]]">
                                        {{home}}
                                    </a>
                                </li>

                                <li>
                                    <a href="?q=user_profile&amp;prg=[[program_id]]">
                                        {{my_profile}}
                                    </a>
                                </li>

                                <li class="[[student_visibility]]">
                                    <a href="?q=view_projects&amp;a=editor&amp;prg=[[program_id]]">
                                        {{submit_proposal}}
                                    </a>
                                </li>

                                <li class="[[student_visibility]]">
                                    <a href="?q=view_projects&amp;a=user&amp;prg=[[program_id]]">
                                        {{view_submissions}}
                                    </a>
                                </li>

                                <li class="divider [[mentor_visibility]]"></li>

                                <li class="[[mentor_visibility]]">
                                    <a href="?q=manage_projects&amp;prg=[[program_id]]">
                                        {{manage_projects}}
                                    </a>
                                </li>

                                <li class="[[mentor_visibility]]">
                                    <a href="?q=view_programs&amp;a=all">
                                        {{view_all_progms}}
                                    </a>
                                </li>

                                <li class="divider [[admin_visibility]]"></li>

                                <li class="[[admin_visibility]]">
                                    <a href="?q=manage_programs&amp;prg=[[program_id]]">
                                        {{manage_programs}}
                                    </a>
                                </li>

                                <li class="[[admin_visibility]]">
                                    <a href="?q=manage_organizations&amp;prg=[[program_id]]">
                                        {{manage_organizations}}
                                    </a>
                                </li>
                                <li class="[[admin_visibility]]">
                                    <a href="?q=edit_templates&amp;prg=[[program_id]]">
                                        {{edit_templates}}
                                    </a>
                                </li>

                                <li class="[[admin_visibility]]">
                                    <a href="?q=notifications&amp;prg=[[program_id]]">
                                        {{notification_mails}}
                                    </a>
                                </li>

                                <li class="[[admin_visibility]]">
                                    <a href="?q=view_participants&amp;prg=[[program_id]]">
                                        {{prog_participants}}
                                    </a>
                                </li>

                                <li class="[[admin_visibility]]">
                                    <a href="?q=view_participants&amp;prg=[[program_id]]&amp;accepted=1">
                                        {{accepted_participants}}
                                    </a>
                                </li>

                                <li class="[[admin_visibility]]">
                                    <a href="?q=approve_mentors&amp;prg=[[program_id]]">
                                        {{approve_mentors}}
                                    </a>
                                </li>

                                <li class="[[admin_visibility]]">
                                    <a href="?q=user_ban&amp;prg=[[program_id]]">
                                        {{manage_bans}}
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="[[guest_visibility]]">
                            <a href="?q=login">
                                <i class="icon-share-alt"></i>
                                {{log_in}}
                            </a>
                        </li>

                        <li class="[[user_visibility]]">
                            <a href="?q=logout">
                                <i class="icon-off"></i>
                                {{log_out}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span12">
                <noscript>
                    <div class="alert alert-error">
                        {{javascript_disabled}}
                     </div>
                </noscript>
                <form class="form-horizontal" method="post" enctype="multipart/form-data">
                     <input type="hidden" name="tok" value="[[csrf_token]]"></input>
