                </form>
            </div>
        </div>

        <br />

        <div class="footer">
            <div class="footer-art"></div>
            <div class="footer-grass"></div>
            <div class="footer-wrapper">
                <ul class="footer-links">
                    <li>Hosted by <a href="https://www.redhat.com">Red Hat</a></li>
                    <li>Copyright © 2005‒2014 <a href="https://www.gnome.org">The GNOME Project</a>. Copyright © 2012-2013 <a href="http://www.kde.org">KDE</a></li>
                    <li class="cc-description">Free to share and remix: <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons CC-BY</a>, except for the individual organization logos, which are property of their respective owners.</li>
                </ul>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="[[skin_path]]/js/bootstrap.js"></script>
    <script type="text/javascript" src="[[skin_path]]/js/main.js"></script>

    <div class="pre-cache" style="display: none;">
        <img src="//cdn.kde.org/img/checkmark.png" width="21" height="21" alt="" />
        <img src="//cdn.kde.org/img/radio-checked.png" width="21" height="21" alt="" />
        <img src="//cdn.kde.org/img/radio-unchecked.png" width="21" height="21" alt="" />
    </div>
</body>
</html>
