<h1>[[editor_title]]</h1>
<hr class="hr-head" />

<div class="alert alert-error [[error_visibility]]">
    <a class="close" data-dismiss="alert">×</a>
    [[error_message]]
</div>

<div class="alert alert-info">
    {{form_notice}}
</div>

<div class="control-group">
    <label class="control-label">{{organization_title}} *</label>
    <div class="controls">
        <input type="text" name="title" maxlength="100" class="input-xxlarge" value="[[title]]"  />
    </div>
</div>

<div class="control-group">
    <label class="control-label">{{late_submissions}}</label>
    <div class="controls">
        <input type="checkbox" name="late_submission" [[late_submission_checked]] />
    </div>
</div>

<div class="form-actions">
    <button type="submit" name="organization_save" class="btn btn-primary">
        <i class="icon-ok-sign icon-white"></i>
        {{save}}
    </button>

    <a href="[[cancel_url]]" class="btn">
        <i class="icon-remove icon-black"></i>
        {{cancel}}
    </a>

    <a href="[[delete_url]]" class="btn btn-danger delete-button [[delete_visibility]]">
        <i class="icon-trash icon-white"></i>
        {{delete}}
    </a>
</div>
