<tr>
    <td>
        [[mentor_name]]
    </td>

    <td>
        [[organization]]
    </td>

    <td class="align-right">
        <a href="#" onclick="submitForm(event, '[[approve_url]]')" title="{{approve}}">
            <i class="icon-ok"></i>
        </a>
        &nbsp;
        <a href="#" onclick="submitForm(event, '[[reject_url]]')" title="{{reject}}">
            <i class="icon-remove"></i>
        </a>
    </td>
</tr>
