<h2 class="[[program_student_visibility]]">{{intern_contract}} - [[title]]</h2>
<h2 class="[[program_mentor_visibility]]">{{mentor_contract}} - [[title]]</h2>
<div class="alert alert-info [[preview_visibility]]">
    {{contract_preview_message}}
</div>
<p>{{contract_edit_message}}</p>
<textarea class="contract-input" name="markdown">[[markdown]]</textarea>
<div class="contract-actions">
<button type="submit" name="prveiew_contract" class="btn">{{preview}}</button>&nbsp;
<button type="submit" name="save_contract"  class="btn btn-primary">{{save}}</button>
</div>
<h2>{{formatted_result}}</h2>
<div class="contract-text" onscroll="checkScroll(event)">
  [[html]]
</div>
