<a href="[[return_url]]" class="no-decor pull-right top-spacer [[return_visibility]]">
    <i class="icon-arrow-left"></i>
    {{previous_page}}
</a>

<h1>{{user_profile}}</h1>
<hr class="hr-head" />

<div class="alert alert-info [[notice_visibility]]">
    {{user_404}}
</div>

<div class="user-data [[profile_visibility]]">
    <table>
        <tr>
            <td style="width:165px">
          <!--
                <img class="thumbnail" src="[[avatar_url]]" alt="{{user_avatar}}" />
            -->

                <div class="align-center top-spacer [[badge_visibility]]">
                    <span class="label label-admin">
                        <i class="icon-star icon-white"></i>
                        {{site_admin}}
                    </span>
                </div>
            </td>
            
            <td>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td style="width:140px">{{username}}</td>
                            <td>[[user_username]]</td>
                            <td class="visibility-note"></td>
                        </tr>

                        <tr>
                            <td>{{full_name}}</td>
                            <td>[[user_fullname]]</td>
                            <td class="visibility-note">[[visible_to_public]]</td>
                        </tr>

                        <tr>
                            <td>{{website}}</td>
                            <td><a href="[[website_url]]">[[website_url]]</a></td>
                            <td class="visibility-note">[[visible_to_public]]</td>
                        </tr>

                        <tr class="[[details_visibility]]"> <!-- avoid blank row -->
                            <td>{{email}}</td>
                            <td>[[user_email]] [[user_email_verified]]</td>
                            <td class="visibility-note">[[visible_to_mentors]]</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>

    <div class="form-actions">
        <a href="[[edit_url]]" class="btn btn-primary [[edit_visibility]]">
            <i class="icon-pencil icon-white"></i>
            {{edit}}
        </a>

        <a href="mailto:[[user_email]]" class="btn btn-primary [[contact_visibility]]">
            <i class="icon-envelope icon-white"></i>
            {{contact_user}}
        </a>
    </div>

    <h4 class="[[details_visibility]]">{{log_in_identity}} <span class="visibility-note">[[visible_to_mentors]]</span></h4>
    <table class="[[details_visibility]]">
      <tbody>
        [[identities_list]]
      </tbody>
    </table>

    <h4 class="[[projects_visibility]]">{{projects}} <span class="visibility-note">[[visible_to_mentors]]</span></h4>
    <table class="table table-striped [[projects_visibility]]">
      <tbody>
        [[projects_list]]
      </tbody>
    </table>

    <h4 class="[[contracts_visibility]]">{{contract_documents}} <span class="visibility-note">[[visible_to_admins]]</span></h4>
    <table class="table table-striped [[contracts_visibility]]">
      <tbody>
        [[contracts_list]]
      </tbody>
    </table>
</div>
