<div class="hero-unit align-center">
    <img src="[[skin_path]]/images/programs.png" width="328" height="256" class="home-glyph" alt="" />

    <h2>
      See <a href="https://www.outreachy.org/apply/">https://www.outreachy.org/apply/</a> for the new application system.
      {{welcome_homepage}}
    </h2>
</div>

