<a href="?q=program_home&amp;prg=[[program_id]]" class="no-decor pull-right top-spacer">
    <i class="icon-arrow-left"></i>
    {{project_home}}
</a>

<h1>[[editor_title]]</h1>
<hr class="hr-head" />

<div class="alert alert-error [[error_visibility]]">
    <a class="close" data-dismiss="alert">×</a>
    [[error_message]]
</div>

<div class="alert alert-success [[success_visibility]]">
    <a class="close" data-dismiss="alert">×</a>
    [[success_message]]
</div>

<div class="alert alert-error [[subscribe_visibility]]">
    <a class="close" data-dismiss="alert">×</a>
    {{subscribe_student}}
</div>

<div class="well instructions">
  <p>
    {{how_to_submit}}
  </p>
  <p class="[[new_visibility]]">
    {{attachment_notice}}
  </p>
</div>

<div class="alert alert-info [[late_submission_visibility]]">
    {{late_submission_notice}}
</div>

<div class="control-group">
    <label class="control-label">{{project_title}}</label>
    <div class="controls">
        <input type="text" name="title" maxlength="100" class="input-xxlarge" value="[[project_title]]" />
    </div>
</div>

<div class="control-group">
    <label class="control-label">{{organization}}</label>
    <div class="controls">
        [[organization_select]]
    </div>
</div>

<div class="control-group">
    <label class="control-label">{{project_description}}</label>
    <div class="controls">
        <textarea name="description" rows="10" class="input-xxlarge">[[project_description]]</textarea>
    </div>
</div>

<div class="control-group [[late_edit_visibility]]">
    <label class="control-label">{{late_editing_allowed}}</label>
    <div class="controls">
        <input type="checkbox" name="late_edit" [[late_edit_checked]] />
    </div>
</div>

<div class="control-group [[newuser_visibility]]">
    <label class="control-label">{{new_student}}</label>
    <div class="controls">
        <input type="text" name="new_student" maxlength="100" class="input-medium" value="[[new_student]]" />

        <div class="help-inline">
            <i class="icon-info-sign"></i>
            {{new_student_exp}}
        </div>
    </div>
</div>

<div class="control-group [[newuser_visibility]]">
    <label class="control-label">{{new_mentor}}</label>
    <div class="controls">
        <input type="text" name="new_mentor" maxlength="100" class="input-medium" value="[[new_mentor]]" />

        <div class="help-inline">
            <i class="icon-info-sign"></i>
            {{new_mentor_exp}}
        </div>
    </div>
</div>

<div class="form-actions">
    <button type="submit" name="project_save" class="btn btn-primary">
        <i class="icon-ok-sign icon-white"></i>
        {{save}}
    </button>

    <a href="[[cancel_url]]" class="btn">
        <i class="icon-remove icon-black"></i>
        {{cancel}}
    </a>
</div>
