<h1>{{upload_contract_document}}</h1>
<hr class="hr-head" />

<div class="alert alert">
  {{contract_sign_message}}
</div>

<div class="alert alert-error [[error_visibility]]">
    <a class="close" data-dismiss="alert">×</a>
    [[error_message]]
</div>

<div class="control-group">
    <label class="control-label">{{document}}</label>
    <div class="controls">
        <input type="file" name="file" />
    </div>
</div>

<div class="control-group">
    <label class="control-label">{{attachment_description}}</label>
    <div class="controls">
        <input type="text" name="description" maxlength="255" class="input-xxlarge" value="[[description]]" />
    </div>
</div>

<div class="form-actions">
    <button type="submit" name="attachment_add" class="btn btn-primary">
        <i class="icon-ok-sign icon-white"></i>
        {{save}}
    </button>

    <a href="[[cancel_url]]" class="btn">
        <i class="icon-remove icon-black"></i>
        {{cancel}}
    </a>
</div>
