<a href="?q=program_home&amp;prg=[[program_id]]" class="no-decor pull-right top-spacer">
    <i class="icon-arrow-left"></i>
    {{project_home}}
</a>

<h1>[[view_title]]</h1>
<hr class="hr-head" />

<div>
  [[organization_select]]
  <a onclick='go_organization(event);' href="#" class="btn">{{go}}</a>
  <script type="text/javascript">
       function go_organization(e) {
           e.preventDefault();
           v = $('#organizationSelect').val();
           l = document.location;
           if (/o=\d+/.test(l))
               new_location = ('' + document.location).replace(/o=\d+/, 'o=' + v);
           else
               new_location = l + '&o=' + v;
           document.location.replace(new_location);
       }
    </script>
</div>

<div class="alert alert-info [[notice_visibility]]">
    {{no_projects_for_organization}}
</div>

<div class="[[list_visibility]]">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:250px">
                    {{project_title}}
                </th>

                <th style="width:250px">
                    {{applicant}}
                </th>

                <th>
                    {{status}}
                </th>

                <th>
                    {{rank}}
                </th>

                <th style="width:75px" class="[[admin_visibility]]"></th>
            </tr>
        </thead>

        <tbody>
            [[projects_list]]
        </tbody>
    </table>

    <button name="rankings_save" type="submit" class="btn btn-primary"[[disabled]]>{{save}}</button>
</div>
