<tr>
    <td>
        <a href="[[project_url]]">
            [[project_title]]
        </a>[[badges]]
    </td>

    <td>
        [[project_applicant]]
    </td>

    <td>
        [[opinion_select]]
    </td>

    <td>
        <input style="width:50px;" type="text" size="4" value="[[ranking]]" name="[[ranking_name]]"[[disabled]]></input>
    </td>

    <td>
        <div class="align-right [[apprej_visibility]]">
            <a href="#" onclick="submitForm(event, '[[approve_url]]')" title="{{approve}}">
                <i class="icon-ok"></i>
            </a>
            &nbsp;
            <a href="#" onclick="submitForm(event, '[[pending_url]]')" title="{{pending}}">
                <i class="icon-adjust"></i>
            </a>
            &nbsp;
            <a href="#" onclick="submitForm(event, '[[reject_url]]')" title="{{reject}}">
                <i class="icon-remove"></i>
            </a>
        </div>
    </td>
</tr>
