<tr>
    <td>
        [[ban_username]]
    </td>
    
    <td>
        <a href="#" onclick="submitForm(event, '[[unban_url]]')" title="{{unban_user}}">
            <i class="icon-remove"></i>
        </a>
    </td>
</tr>
