<tr>
    <th colspan="3">
        <a href="#" onclick="submitForm(event, '[[approve_url]]')" class="[[approve_visibility]]">
            {{approve_contract}}
        </a>
        <a href="#" onclick="submitForm(event, '[[unapprove_url]]')" class="[[unapprove_visibility]]">
            {{unapprove_contract}}
        </a>
    </th>
</tr>
