<h1>{{edit_user_profile}}</h1>
<hr class="hr-head" />

<div class="alert alert-error [[error_visibility]]">
    <a class="close" data-dismiss="alert">×</a>
    [[error_message]]
</div>

<div class="control-group">
    <label class="control-label">{{full_name}}</label>
    <div class="controls">
        <input type="text" name="fullname" maxlength="100" class="input-xxlarge" value="[[user_fullname]]" />
        <span class="visibility-note">[[visible_to_public]]</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label">{{website}}</label>
    <div class="controls">
        <input type="text" name="website" maxlength="100" class="input-xxlarge" value="[[website_url]]" />
        <span class="visibility-note">[[visible_to_public]]</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label">{{email}}</label>
    <div class="controls">
        <input type="text" name="email" maxlength="100" class="input-xxlarge" value="[[user_email]]" />
        <span class="visibility-note">[[visible_to_mentors]]</span>
    </div>
</div>

<div class="form-actions">
    <button type="submit" name="user_save" class="btn btn-primary">
        <i class="icon-ok-sign icon-white"></i>
        {{save}}
    </button>

    <a href="[[cancel_url]]" class="btn">
        <i class="icon-remove icon-black"></i>
        {{cancel}}
    </a>
</div>
