<tr>
    <td>
        <a href="[[project_url]]">
            [[project_title]]
        </a>
    </td>

    <td>
        [[project_description]]
    </td>

    <td>
        <div class="align-right [[apprej_visibility]]">
            <a href="#" onclick="submitForm(event, '[[approve_url]]')" title="{{approve}}">
                <i class="icon-ok"></i>
            </a>
            &nbsp;
            <a href="#" onclick="submitForm(event, '[[reject_url]]')" title="{{reject}}">
                <i class="icon-remove"></i>
            </a>
        </div>
    </td>
</tr>
