<!DOCTYPE html>

<!--
- Pandora v1
- @license GPLv3 - //www.opensource.org/licenses/GPL-3.0
- @copyright (c) 2012 KDE. All rights reserved.
-
- Instructions:
- * Use [[template_var]] for a template variable
ocalization variable
-
- !!IMPORTANT!! Retain all template variables when theming
-->

<html dir="ltr" lang="{{lang_name}}">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="{{site_name}} is a SoC program management utility" />

    <title>[[page_title]]</title>
    <link href="[[skin_path]]/images/favicon.png" rel="shortcut icon" />
    <link href="//cdn.kde.org/css/bootstrap.css" rel="stylesheet" type="text/css" media="screen, projection" />
    <link href="//cdn.kde.org/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" media="screen, projection" />
    <link href="//cdn.kde.org/css/bootstrap-pandora.css" rel="stylesheet" type="text/css" media="screen, projection" />
    <link href="//cdn.kde.org/css/jquery-ui.css" rel="stylesheet" type="text/css" media="screen, projection" />
</head>

<body>
    <div class="navbar navbar-static-top Neverland">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="brand" href="[[nav_home]]">
                    <img src="//cdn.kde.org/img/logo.plain.small.png" class="icon" alt="" />
                    {{site_name}}
                </a>

                <div class="nav-collapse">
                    <ul class="nav pull-right">
                        <li>
                            <a href="?q=view_programs&amp;r=accepted">
                                <i class="icon-search"></i>
                                {{accepted_projects}}
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-globe"></i>
                                {{kde_links}}
                                <b class="caret"></b>
                            </a>

                            <ul id="global-nav" class="dropdown-menu"></ul>
                        </li>

                        <li class="dropdown [[admin_visibility]]">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-wrench"></i>
                                {{administration}}
                                <b class="caret"></b>
                            </a>

                            <ul class="dropdown-menu">
                                <li>
                                    <a href="?q=manage_programs">
                                        {{manage_programs}}
                                    </a>
                                </li>

                                <li>
                                    <a href="?q=view_programs&amp;r=proposed">
                                        {{approve_proposal}}
                                    </a>
                                </li>

                                <li>
                                    <a href="?q=approve_mentors">
                                        {{approve_mentors}}
                                    </a>
                                </li>

                                <li>
                                    <a href="?q=notifications">
                                        {{notification_mails}}
                                    </a>
                                </li>

                                <li>
                                    <a href="?q=edit_templates">
                                        {{edit_templates}}
                                    </a>
                                </li>

                                <li>
                                    <a href="?q=user_ban">
                                        {{manage_bans}}
                                    </a>
                                </li>

                                <li class="divider"></li>

                                <li>
                                    <a href="?q=view_programs&amp;r=rejected">
                                        {{view_rejected}}
                                    </a>
                                </li>

                                <li>
                                    <a href="?q=view_programs&amp;a=inactive&amp;r=accepted">
                                        {{view_archives}}
                                    </a>
                                </li>

                                <li class="divider hide [[modadm_visibility]]"></li>

                                <!-- module: program_home -->
                                <li class="hide [[prog_adm_visibility]]">
                                    <a href="?q=view_projects&amp;a=editor&amp;prg=[[program_id]]">
                                        {{create_project}}
                                    </a>
                                </li>

                                <!-- module: program_home -->
                                <li class="hide [[prog_adm_visibility]]">
                                    <a href="?q=view_participants&amp;prg=[[program_id]]">
                                        {{view_participants}}
                                    </a>
                                </li>

                                <!-- module: view_project -->
                                <li class="hide [[approve_visibility]]">
                                    <a href="?q=view_projects&amp;a=approve&amp;prg=[[program_id]]&amp;p=[[project_id]]&amp;r=[[return_url]]">
                                        {{approve_project}}
                                    </a>
                                </li>

                                <!-- module: view_project -->
                                <li class="hide [[reject_visibility]]">
                                    <a href="?q=view_projects&amp;a=reject&amp;prg=[[program_id]]&amp;p=[[project_id]]&amp;r=[[return_url]]">
                                        {{reject_project}}
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="[[guest_visibility]]">
                            <a href="?q=login">
                                <i class="icon-share-alt"></i>
                                {{log_in}}
                            </a>
                        </li>

                        <li class="[[user_visibility]]">
                            <a href="?q=logout">
                                <i class="icon-off"></i>
                                {{log_out}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span12">
                <noscript>
                    <div class="alert alert-error">
                        {{javascript_disabled}}
                    </div>
                </noscript>
                <form class="form-horizontal" method="post">
                     <input type="hidden" name="tok" value="[[csrf_token]]"></input>
