<tr>
    <td>
        [[program_title]]
    </td>

    <td>
        [[program_description]]
    </td>

    <td>
        <div class="align-center [[program_active]]">
            <i class="icon icon-ok"></i>
        </div>

        <div class="align-center [[program_inactive]]">
            <i class="icon icon-remove"></i>
        </div>
    </td>

    <td class="align-center">
        <a href="?q=manage_programs&amp;a=editor&amp;p=[[prog_id]]">
            <i class="icon-pencil"></i>
        </a>
    </td>
</tr>
